<h1>Ask a question to your coach</h1>
<form action="/answer" method="GET" data-turbo="false">
  <input class="input-text" type="text" name="question">
  <input class="input-submit" type="submit" value="Ask!">
</form>
